<mat-card style="padding: 15px;">
    <form (submit)="onAddPost(postForm)" #postForm="ngForm"> <!--#postForm="ngForm" dà accesso al form come variabile, "ngForm" specifica il tipo-->
        <mat-form-field>
            <input
             matInput
             type="text"
             name="title"
             #title="ngModel"
             ngModel
             required
             minlength="3"
             maxlength="20"
             placeholder="Post Title">
             <mat-error *ngIf="title.invalid">Inserire titolo (min. 3 lettere)</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea
             matInput
             rows="6"
             name="content"
             #content="ngModel"
             ngModel
             #postInput
             required
             placeholder="Post Content"></textarea>
            <mat-error *ngIf="content.invalid">Inserire contenuto</mat-error>
        </mat-form-field>
        <input #file [hidden]="true" type="file" (change)="readImg($event)" accept="image/*"/>
        <button mat-flat-button color="primary" (click)="$event.preventDefault();file.click()">Carica immagine</button>
        <div [hidden]="this.img == ''">
            <h5>Anteprima immagine</h5>
            <img [src]="this.img" alt="img" width="30%" height="30%">
        </div>
        <br>
        <br>
        <br>
        <button
         mat-raised-button
         color="warn"
         type="submit">Save Post</button>
    </form>
</mat-card>